@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Barlow', sans-serif;
    background-color: #2c0f34;
    color: hsl(287, 55%, 83%);
    font-weight: 300;
    padding: 40px 0px;
    width: 768px;
    margin: auto;
}
h1{
    font-weight: 300;
    margin-bottom: 32px;
}
nav{
    margin: 24px;
}
    nav a{
        text-decoration: none;
        background-color: hsl(287, 55%, 60%);;
        color: hsl(287, 55%, 100%);
        display: inline-block;
        padding: 8px 32px;
        margin: 0px 4px;
        border-radius: 8px;
    }
    nav a:hover{
        background-color: hsl(287, 55%, 70%);
        box-shadow: 0 0 8px hsl(287, 55%, 70%);;
    }

#txt{
    font-size: 2em;
    padding: 12px;
    border-radius: 8px;
    background-color: hsl(287, 55%, 20%);;
}

#caja{
    width: 256px;
    height: 256px;
    background-color: #666;
    border-radius: 16px;
    padding: 24px 16px;
    margin: 24px;
    transition: 500ms;
}

#selector{
    width: 64px;
    height: 64px;
    border-radius: 8px;
    position: relative;
    top: 20px;
    margin-right: 16px;
    margin-left: 64px;
}
#btn{
    text-decoration: none;
    background-color: hsl(287, 55%, 60%);;
    color: hsl(287, 55%, 100%);
    display: inline-block;
    padding: 8px 32px;
    margin: 0px 4px;
    border-radius: 8px;
    border: none;
}
#btn:hover{
    background-color: hsl(287, 55%, 70%);
    box-shadow: 0 0 8px hsl(287, 55%, 70%);;
}

.show{
    /* display: block; */
    opacity: 1;
}
.hide{
    /* display: none; */
    opacity: 0;
}